<html>
<head>
    <title>Main Page</title>
</head>
<body>
    <div>Hello, user</div>
    <a href="/main">Main page</a>
        <div>
            <script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/2674_RC03/embed_loader.js"></script> <script type="text/javascript"> trends.embed.renderExploreWidget("RELATED_QUERIES", {"comparisonItem":[{"keyword":"/m/02jfc","geo":"UA","time":"now 1-d"}],"category":0,"property":""}, {"exploreQuery":"date=now%201-d&geo=UA&q=%2Fm%2F02jfc","guestPath":"https://trends.google.ru:443/trends/embed/"}); </script>
        </div>

</body>
</html>