<div th:fragment="header">

    <div>
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
<!--                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>-->
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="26" fill="currentColor" class="bi bi-yin-yang" viewBox="0 0 16 16">
                    <path d="M9.167 4.5a1.167 1.167 0 1 1-2.334 0 1.167 1.167 0 0 1 2.334 0Z"></path>
                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM1 8a7 7 0 0 1 7-7 3.5 3.5 0 1 1 0 7 3.5 3.5 0 1 0 0 7 7 7 0 0 1-7-7Zm7 4.667a1.167 1.167 0 1 1 0-2.334 1.167 1.167 0 0 1 0 2.334Z"></path>
                </svg>
                <span class="fs-4"><strong>Pedpresa News Aggregator</strong></span>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Главная</a></li>
                <li class="nav-item"><a href="/news" class="nav-link">Новости</a></li>
                <li class="nav-item"><a href="/keywords" class="nav-link">Ключевые слова</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Автозамена</a></li>
            </ul>
        </header>
    </div>
</div>